/* ArtistGalleryPage.module.css

  .galleryHeader {  */
    /* Styles for the gallery header */
    /* font-size: 24px;
    color: #333;
    
  } */
  
  /* .galleryImages { */
    /* Styles for the gallery images container */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px; Adjust this value to move the images down */
    /* justify-content: center;
    align-items: center;
  } */
  
  
  /* .galleryImage { */
    /* Styles for individual gallery images */
    /* width: 100%;
    max-width: 100%;
    height: auto;
   
   } */
  
