/* Styling for the main container of the home section */
.home {
  position: relative;
  width: 100%; /* Changed to width to prevent overflow on small screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoContainer {
  position: relative; /* Changed to relative */
  width: 100%;
  padding-top: 53%; /* Aspect ratio for 16:9 videos */
  overflow: hidden;
}

.videoContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black shade with 50% opacity */
  z-index: 0; /* Ensure it's above the video but below the text */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Below the overlay */
}

.text-overlay {
  position: absolute;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 3;
  animation: fadeInAnimation 20s ease;
}

@media (max-width: 768px) {
  .text-overlay {
    font-size: 3rem; /* Adjust the font size for mobile */
  }
}

.customFont {
  font-family: 'Snell Roundhand', sans-serif;
  font-stretch: ultra-condensed;
  animation: ease, colorFlash 7s;
}

/* Keyframes for the fade-in animation */


@keyframes colorFlash {
  0% {
    background-image: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background-image: none;
    -webkit-background-clip: initial;
    color: white;
  }
}

/* Styling for the button container */
.button-container {
  position: absolute;
  bottom: 65%;
  left: 46%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure it's above the video */
}

/* Styling for the transparent round button */
.round-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.button-container .round-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .round-button {
    font-size: 0.75rem; /* Smaller button font on mobile */
  }
}

/* This will be your stats section styling */
.statisticsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Align items to start to prevent stretching */
  width: 100%;
  padding: 20px;
  background: #f8f9fa;
  position: relative; /* Relative positioning to follow the flow */
  z-index: 0; /* Above the video */
}

.statItem {
  flex: 1 0 21%; /* Flex grow, no shrink, basis of 21% to fit 4 items */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 200px; /* Maximum width for each stat item */
}

.statIcon {
  font-size: 3em; /* Adjust icon size */
  color: blue; /* Icon color */
  margin-bottom: 10px;
}

.statNumber {
  font-size: 2.5rem; /* Adjust number size */
  font-weight: bold;
}

.statText {
  font-size: 1.2rem; /* Adjust text size */
  color: #6c757d;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .statItem {
    flex-basis: 100%; /* Full width for each stat item on mobile */
    margin: 10px 0; /* Margin top and bottom only */
  }

  .statIcon {
    font-size: 2em; /* Smaller icon size on mobile */
  }

  .statNumber {
    font-size: 1.5rem; /* Smaller number size on mobile */
  }

  .statText {
    font-size: 1rem; /* Smaller text size on mobile */
  }
}

/* blue background */
.videoOverlaySection {
  position: relative;
  width: 100%;
  /* This padding-top will be 25% of the width, which is half the height of a 16:9 aspect ratio video */
  padding-top: 35%;
  overflow: hidden; /* This ensures no part of the video overflows the container */
}
.videoOverlaySection::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Black shade with 50% opacity */
  z-index: 0; /* Ensure it's above the video but below the text */
}
.overlayVideo {
  position: absolute;
  top: 0;
  left: 0;
  /* Set width to 50% to make the video half its size */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area without distorting the ratio */
  /* Center the video horizontally */ 
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* This ensures the text appears above the video */
}

.mainTitle {
  font-size: 3.0rem;
  margin-bottom: 2rem;
}

.sideBySideParagraphs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.paragraphSection {
  width: 45%;
}

.subtitle {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .sideBySideParagraphs {
    flex-direction: column;
  }

  .paragraphSection {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mainTitle,
  .subtitle {
    /* Adjust font sizes for mobile responsiveness */
    font-size: calc(1rem + 1.5vw);
  }
}


@media (max-width: 768px) {
  .videoOverlaySection {
    display: none;
  }
}
