/* Styling for the main container of the home section */
.home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Behind the content */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: fadeInAnimation 20s ease;
  left: 50%;
  top: 50%;
}

@media (max-width: 768px) {
  .text-overlay {
    font-size: 3rem;
    /* Adjust the font size for mobile */
  }
}

.customFont {
  font-family: 'Snell Roundhand', sans-serif;
  font-stretch: ultra-condensed;
  animation: ease, colorFlash 7s;
}

/* Keyframes for the fade-in animation */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes colorFlash {
  0% {
    background-image: linear-gradient(to right, red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  100% {
    background-image: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    color: white;
  }
}

/* Styling for the button container */
.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Styling for the transparent round button */
.round-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container .round-button {
  text-transform: uppercase;
}

.button-container .round-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .round-button {
    font-size: 0.75rem;
  }
}

 /* Add to your Home.module.css */


/* This will be your stats section styling */
.statisticsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #f8f9fa; /* Or any other background color */
  margin-top: 58rem; /* Adjust this value so the section sits right under the video */
  z-index: 1; /* Above the video */
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.statIcon {
  width: 50px; /* Example size, adjust as needed */
  height: 50px; /* Maintain aspect ratio for icons */
  margin-bottom: 10px; /* Space between icon and number */
}


.statNumber {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
}

.statText {
  font-size: 1rem;
  color: #6c757d; /* Adjust text color as needed */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .statItem {
    /* Make each stat item take full width on small screens */
    flex-basis: 100%;
  }

  .statNumber {
    font-size: 1.5rem; /* Adjust font size for smaller screens if necessary */
  }

  .statText {
    font-size: 0.9rem; /* Adjust text size for smaller screens if necessary */
  }
}