/* Doc.module.css */

.container {
  font-family: 'Arial', sans-serif;
  padding: 40px; /* Add more padding */
  max-width: 800px;
  margin: 50px auto; /* Increase margin to center it more */
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  font-size: 36px; /* Larger font size for title */
  margin-bottom: 30px; /* More space after the title */
  color: #333; /* Darker color for the title */
}

.text {
  text-align: justify;
  margin-bottom: 20px; /* Space between paragraph and button */
}

.downloadLink {
  display: inline-block; /* To apply padding and margin correctly */
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #000; /* Black background for the button */
  color: #fff; /* White text for the button */
  text-decoration: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the button */
}

/* Additional global styles if needed */
.body {
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); /* Example gradient */
  font-family: 'Arial', sans-serif;
}

/* Make sure to add media queries to handle different screen sizes */
