/* booking.module.css */

.bigContainer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  flex-direction: column; /* Stack children vertically by default */
  margin-top: 17%;
}

.layout {
  display: flex;
  flex-direction: column; /* Stack children vertically by default */
  align-items: center; /* Center children */
  width: 100%;
  max-width: 1200px; /* Max width of the layout */
}


.mapContainer {
  width: 100%; /* Take the full width on small screens */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin-top: 10%;

}

/* Additional styles for the form animation and font */
.form {
  animation: fadeInAnimation 2s ease; /* Apply fade-in animation */ 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Times {
  font-family: 'Luminari', sans-serif;
  /* Add any other font styles as needed */
}

/* Media query for larger screens */
@media (min-width: 750px) { /* Adjust the pixel value based on your design's breakpoint */
  .layout {
    flex-direction: row; /* Align children horizontally for larger screens */
  }

  .bookingCard {
    width: calc(50% - 1rem); /* Adjust width for the space between elements */
    margin-right: 2rem; /* This will add space between the booking card and the map on larger screens */
    margin-bottom: 0; /* Remove the bottom margin on larger screens */
  }

  .mapContainer {
    width: calc(50% - 1rem); /* Adjust width for the space between elements */
    margin-bottom: 0; /* Remove the bottom margin on larger screens */
  }
}
