/* booking.module.css */
.parallaxBackground {
  background-image: url('../../public/Assets/Contact\ us.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use viewport height to ensure full page coverage */
  padding: 5rem 1rem; /* Adjust padding to be responsive */
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; /* Ensure margin is auto to center the layout */
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #050505;
  margin-bottom: 1rem;
  font-family: 'Hoefler Text', 'Arial Narrow Bold', sans-serif;
  margin-top: 10%;
}

.form {
  animation: fadeInAnimation 2s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Times {
  font-family: 'Luminari', sans-serif;
}

/* Simplify media queries and ensure they are mobile-first */
@media (max-width: 750px) {
  .bookingCard {
    width: 50%; /* Use percentage for responsiveness */
   
  }
}

.bookingCard {
  width: 100%; /* Default to full width on smaller screens */
  margin: 1rem auto; /* Center the card with automatic margins */
}

@media (min-width: 750px) {
  .bookingCard {
    width: 50%; /* adjust this percentage based on the Artist card width */
    /* ... */
  }
}



/* Styling for the button container */
.button-container {
  position: absolute;
  bottom: 10%;
  /* Adjust to move the button vertically */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* Place above the video */
}

/* Styling for the transparent round button */
.round-button {
  background-color: transparent;
  border: 1px solid rgb(8, 8, 8);
  color: rgb(8, 8, 8);
  border-radius: 999px;
  /* Create a round shape */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 350;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Apply styles to the button inside the button container */
.button-container .round-button {
  text-transform: uppercase;
}

/* Show a slightly opaque background on button hover */
.round-button:hover {
  background-color: rgba(117, 115, 115, 0.329);
}
