/* components/Navbar.module.css */

/* Styles for the navigation bar container */
.navbar {
  position: absolute; /* Position the navbar */
  top: 2%; /* Adjust to move the Navbar higher up */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally using translation */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  padding: 8px 16px; /* Add padding to the navbar */
  border-radius: 50px; /* Rounded corners */
  box-shadow: 0 9px 1px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  z-index: 1; /* Place above other elements */
}


/* Styles for navigation links in the navbar */
.navbar a {
  color: rgb(9, 8, 8); /* Set link color */
  text-decoration: none; /* Remove underline */
  font-size: 1.2rem; /* Set font size */
  margin-right: 20px; /* Add space between the links */
  transition: font-size 0.3s ease; /* Add a smooth transition effect for font size */
}

/* Remove margin from the last link to prevent unnecessary space */
.navbar a:last-child {
  margin-right: 0;
}

/* Styles for navigation links when hovered over */
.navbar a:hover {
  color: black; /* Darker color on hover */
  font-size: 1.9rem; /* Increase the font size on hover */
  text-decoration: underline;
}

  
  
  