/* components/map/Map.module.css */

  @media (max-width:800px) {
    #map {
      width: 320px;
    }
  }

  .mapContainer {
    width: 100%; /* Take the full width on small screens */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 2rem; /* Space between the booking card and the map */
  }